[submodule "thirdparty/gflags"]
	path = thirdparty/gflags
	url = https://github.com/gflags/gflags.git
[submodule "thirdparty/TinyMatrixMath"]
	path = thirdparty/TinyMatrixMath
	url = https://github.com/m516/TinyMatrixMath.git
